autopep8
BTrees
cffi
conda
configparser
cryptography
cycler
docopt
gdata
google-api-python-client
gspread
httplib2
idna
jaraco.mysql
matplotlib
nltk
numpy
oauth2client
olefile
pandas
persistent
Pillow
pipreqs
pyasn1
pyasn1-modules
pycodestyle
pycosat
pycparser
pyOpenSSL
pyparsing
PyPrind
python-dateutil
pytz
PyYAML
requests
rsa
scikit-learn
scipy
six
sklearn
torch
torchvision
transaction
uritemplate
yarg
zc.lockfile
ZConfig
zdaemon
ZEO
ZODB
ZODB3
zodbpickle
zope.app.form
zope.browser
zope.browsermenu
zope.browserpage
zope.component
zope.configuration
zope.container
zope.contenttype
zope.datetime
zope.dottedname
zope.event
zope.exceptions
zope.filerepresentation
zope.formlib
zope.i18n
zope.i18nmessageid
zope.interface
zope.lifecycleevent
zope.location
zope.pagetemplate
zope.proxy
zope.publisher
zope.rdb
zope.schema
zope.security
zope.size
zope.tal
zope.tales
zope.thread
zope.traversing
